* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general-bg {
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-color: #F1D3B3;
  background-image: radial-gradient(circle at center, #ba685a 1px, transparent 2px);
  background-size: 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blob-bounce {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(60vw, 0);
  }
  50% {
    transform: translate(70vw, 40vh);
  }
  75% {
    transform: translate(-10vw, 40vh);
  }
  90% {
    transform: translate(0, -10vh);
  }
}
@keyframes subir {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-70px);
  }
  90% {
    transform: translateY(0px);
  }
}
@keyframes subir_izquierdo {
  0% {
    right: 80px;
  }
  10% {
    transform: rotate(-60deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  30% {
    right: 40px;
  }
}
@keyframes subir_derecho {
  0% {
    transform: rotate(0);
  }
  10% {
    left: -50px;
    transform: rotate(60deg);
  }
  20% {
    left: -40px;
    transform: rotate(80deg);
  }
}
@keyframes subir_izquieda_abajo {
  0% {
    transform: translateY(0px) rotate(15deg);
  }
  10% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(0px) rotate(15deg);
  }
}
@keyframes subir_derecha_abajo {
  0% {
    transform: rotate(-48deg);
  }
  10% {
    transform: translateX(-60px) rotate(-50deg);
  }
  20% {
    transform: rotate(-70deg);
  }
  90% {
    transform: translateX(90px) rotate(-48deg);
  }
}
@keyframes blob-bounce {
  0% {
    transform: translate(-10%, -10%);
  }
  25% {
    transform: translate(150%, 0px);
  }
  50% {
    transform: translate(150%, 200%);
  }
  75% {
    transform: translate(-50%, 200%);
  }
  100% {
    transform: translate(-10%, -10%);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.game-section {
  position: relative;
  background: #C8B6A6;
  overflow: hidden;
  width: 375px;
  height: 519px;
  border: 7px solid #ba685a;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 3px #8a7586;
  border-radius: 30px;
}

.bg-blur {
  position: absolute;
  background-color: black;
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reverse-counter {
  font-size: 12rem;
  color: #ba685a;
  font-family: "Kalam", cursive;
  text-align: center;
}

.end-game-text {
  font-size: 4rem;
  color: #ba685a;
  font-family: "Kalam", cursive;
  text-align: center;
  padding: 12px;
  border-radius: 20px;
}

.border-button-blur {
  position: absolute;
  width: 260px;
  height: 260px;
  top: 25%;
  transform: translateX(-50%) rotate(0deg);
  z-index: 20;
  border: 12px dotted white;
  border-radius: 50%;
  animation: girar 4s infinite linear;
}

.container-text, .container-music {
  position: absolute;
  z-index: 100;
  right: 50%;
  top: 8px;
  transform: translateX(50%);
  padding: 4px 12px;
  background-color: #F1D3B3;
  border-radius: 12px;
  border: 1px solid #ba685a;
}

.container-music {
  right: 10px;
  top: 10px;
  transform: translate(0, 0);
}
.container-music img {
  width: 20px;
  height: 20px;
}

.text-score, .counter-during-game {
  color: #ba685a;
  text-align: center;
  font-family: "Comic Neue", cursive;
}

.counter-game-container {
  position: absolute;
  background-color: #F1D3B3;
  border: 1px solid #ba685a;
  padding: 4px;
  border-radius: 50%;
  top: 8px;
  left: 5px;
  width: 35px;
  height: 35px;
}

.counter-during-game {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer {
  position: absolute;
}

.paw {
  cursor: pointer;
}

.layer:nth-child(1) {
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 100px;
  bottom: auto;
  left: auto;
  right: -2px;
  background: inner;
  animation: subir 2s infinite;
  animation-delay: 1s;
}

.layer:nth-child(2) {
  z-index: 2;
  width: 90px;
  height: 90px;
  top: 145px;
  bottom: auto;
  left: 16px;
  right: auto;
  background: inner;
  animation: subir 2s infinite;
  animation-delay: 2s;
}

.layer:nth-child(3) {
  z-index: 3;
  width: 90px;
  height: 85px;
  top: 80px;
  bottom: auto;
  left: auto;
  right: 40px;
  background: inner;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  animation: subir_izquierdo 2s infinite;
  animation-delay: 1s;
}

.layer:nth-child(4) {
  z-index: 4;
  width: 120px;
  height: 200px;
  top: 100px;
  bottom: auto;
  left: auto;
  right: 0;
  background: #C69B7B;
  border: 2px solid #8B7E74;
  border-radius: 20px;
}

.layer:nth-child(5) {
  z-index: 5;
  width: 120px;
  height: 210px;
  top: 150px;
  bottom: auto;
  left: 0;
  right: auto;
  background: #ba685a;
  border: 2px solid #8B7E74;
  border-radius: 20px;
}

.layer:nth-child(6) {
  z-index: 6;
  width: 90px;
  height: 120px;
  top: 160px;
  bottom: auto;
  left: -120px;
  right: auto;
  background: inner;
  transform: rotate(50deg);
  transform-origin: bottom left;
  animation: subir_derecho 1s infinite;
  animation-delay: 7s;
}

.layer:nth-child(7) {
  z-index: 7;
  width: 90px;
  height: 90px;
  top: 245px;
  bottom: auto;
  left: auto;
  right: 15px;
  background: inner;
  animation: subir 2s infinite;
  animation-delay: 3.6s;
}

.layer:nth-child(8) {
  z-index: 8;
  width: 190px;
  height: 210px;
  top: 250px;
  bottom: auto;
  left: auto;
  right: 0;
  background: #F1D3B3;
  border: 2px solid #8B7E74;
  border-radius: 20px;
}

.layer:nth-child(9) {
  z-index: 9;
  width: 190px;
  height: 210px;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  background: #f4914e;
  border: 2px solid #ba685a;
  border-radius: 20px;
}

.layer:nth-child(10) {
  z-index: 10;
  width: 800px;
  height: 120px;
  top: auto;
  bottom: -115px;
  left: 50px;
  right: auto;
  background: inner;
  transform: rotate(15deg);
  animation: subir_izquieda_abajo 1s infinite;
  animation-delay: 1s;
}

.layer:nth-child(11) {
  z-index: 8;
  width: 90px;
  height: 130px;
  top: auto;
  bottom: 60px;
  left: auto;
  right: -107px;
  background: inner;
  transform: rotate(-48deg);
  animation: subir_derecha_abajo 2s infinite;
  animation-delay: 3s;
}

.section {
  position: relative;
  width: 375px;
  height: 519px;
  border-radius: 20px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-content {
  position: absolute;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ba685a;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.blob {
  position: absolute;
  z-index: 1;
  top: -10%;
  left: -10%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(204, 201, 201);
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.5);
}

.cute-title {
  font-family: "Kalam", cursive;
  font-size: 2.5rem;
  color: #F1D3B3;
  text-align: center;
  padding-top: 5%;
}

.regular-text, input[type=file]::before {
  padding-top: 3%;
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.container-dinamic-button {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

.dinamic-button {
  position: absolute;
  background-color: inherit;
  border: none;
  border-radius: 50px;
  color: white;
  z-index: 30;
  top: 15px;
  left: 15px;
}
.dinamic-button img {
  width: 90px;
  color: white;
}
.dinamic-button:hover {
  cursor: pointer;
}

.border-button {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 5px dotted rgb(204, 201, 201);
  border-radius: 50%;
  z-index: 2;
  animation: girar 4s infinite linear;
}

.btn-start:hover {
  cursor: pointer;
}

.api-section {
  background-color: #ba685a;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.img_cat {
  width: 90%;
  max-width: 300px;
  height: 90%;
  max-width: 300px;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border: 0.5px solid #F1D3B3;
}

.btn_heart {
  position: absolute;
  top: 25px;
  left: 25px;
  border: none;
  background-color: inherit;
}

.btn_heart:hover {
  cursor: pointer;
}

.primary-button, input[type=file]::before {
  background-color: #f4914e;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  color: white;
  transition: background-color 0.3s ease;
}
.primary-button:focus, input[type=file]:focus::before {
  outline: none;
}
.primary-button:hover, input[type=file]:hover::before {
  cursor: pointer;
  background-color: #8a7586;
}
.primary-button:active, input[type=file]:active::before {
  background-color: #f4914e;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type=file]::before {
  content: "Select a file";
  display: inline-block;
}

.form-upload-kitten {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-gitt {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .api-section {
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
  }
}
.relative {
  position: relative;
}

.none {
  display: none;
}

.disappear {
  animation: disappear 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}/*# sourceMappingURL=main.css.map */