* {
  box-sizing: border-box;
  margin: 0;
}

.phone {
  position: relative;
  background: #C8B6A6;
  overflow: hidden;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 550px;
  border: 7px solid #ba685a;
  box-shadow: 0px 0px 15px 3px #8a7586;
  border-radius: 30px;
}

.layer {
  position: absolute;
}

.paw {
  cursor: pointer;
}

@keyframes subir {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-70px);
  }
  20% {
    transform: translateY(0px);
  }
}
@keyframes subir_izquierdo {
  0% {
    right: 80px;
  }
  10% {
    transform: rotate(-60deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  30% {
    right: 40px;
  }
}
@keyframes subir_derecho {
  0% {
    transform: rotate(0);
  }
  10% {
    left: -50px;
    transform: rotate(60deg);
  }
  20% {
    left: -40px;
    transform: rotate(80deg);
  }
}
@keyframes subir_izquieda_abajo {
  0% {
    transform: translateY(0px) rotate(15deg);
  }
  10% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(0px) rotate(15deg);
  }
}
@keyframes subir_derecha_abajo {
  0% {
    transform: rotate(-48deg);
  }
  10% {
    transform: translateX(-60px) rotate(-50deg);
  }
  20% {
    transform: rotate(-70deg);
  }
  90% {
    transform: translateX(90px) rotate(-48deg);
  }
}
.layer:nth-child(1) {
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 100px;
  bottom: auto;
  left: auto;
  right: 15px;
  background: inner;
  animation: subir 5s infinite;
  animation-delay: 1s;
}

.layer:nth-child(2) {
  z-index: 2;
  width: 90px;
  height: 90px;
  top: 145px;
  bottom: auto;
  left: 16px;
  right: auto;
  background: inner;
  animation: subir 2s infinite;
  animation-delay: 3s;
}

.layer:nth-child(3) {
  z-index: 3;
  width: 90px;
  height: 85px;
  top: 80px;
  bottom: auto;
  left: auto;
  right: 40px;
  background: inner;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  animation: subir_izquierdo 2s infinite;
  animation-delay: 2s;
}

.layer:nth-child(4) {
  z-index: 4;
  width: 120px;
  height: 200px;
  top: 100px;
  bottom: auto;
  left: auto;
  right: 0;
  background: #C69B7B;
  border: 1px solid #8B7E74;
  border-radius: 20px;
}

.layer:nth-child(5) {
  z-index: 5;
  width: 120px;
  height: 210px;
  top: 150px;
  bottom: auto;
  left: 0;
  right: auto;
  background: #ba685a;
  border: 1px solid #8a7586;
  border-radius: 20px;
}

.layer:nth-child(6) {
  z-index: 6;
  width: 90px;
  height: 120px;
  top: 160px;
  bottom: auto;
  left: -120px;
  right: auto;
  background: inner;
  transform: rotate(50deg);
  transform-origin: bottom left;
  animation: subir_derecho 1s infinite;
  animation-delay: 7s;
}

.layer:nth-child(7) {
  z-index: 7;
  width: 90px;
  height: 90px;
  top: 245px;
  bottom: auto;
  left: auto;
  right: 15px;
  background: inner;
  animation: subir 2s infinite;
  animation-delay: 2.5s;
}

.layer:nth-child(8) {
  z-index: 8;
  width: 190px;
  height: 210px;
  top: 250px;
  bottom: auto;
  left: auto;
  right: 0;
  background: #F1D3B3;
  border: 1px solid #8B7E74;
  border-radius: 20px;
}

.layer:nth-child(9) {
  z-index: 9;
  width: 190px;
  height: 210px;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  background: #f4914e;
  border: 1px solid #ba685a;
  border-radius: 20px;
}

.layer:nth-child(10) {
  z-index: 10;
  width: 800px;
  height: 120px;
  top: auto;
  bottom: -115px;
  left: 50px;
  right: auto;
  background: inner;
  transform: rotate(15deg);
  animation: subir_izquieda_abajo 1s infinite;
  animation-delay: 1s;
}

.layer:nth-child(11) {
  z-index: 8;
  width: 90px;
  height: 130px;
  top: auto;
  bottom: 60px;
  left: auto;
  right: -107px;
  background: inner;
  transform: rotate(-48deg);
  animation: subir_derecha_abajo 2s infinite;
  animation-delay: 3s;
}

.general-container {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.relative {
  position: relative;
}

.img_cat {
  width: 300px;
  height: 300px;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border: 0.5px solid black;
}

.btn_heart {
  position: absolute;
  top: 25px;
  left: 25px;
  border: none;
  background-color: inherit;
}

.btn_heart:hover {
  cursor: pointer;
}

.invisible {
  display: none;
}

.container-text {
  position: absolute;
  z-index: 100;
  right: 50%;
  top: 8px;
  transform: translateX(50%);
  padding: 4px 12px;
  background-color: #F1D3B3;
  border-radius: 12px;
  border: 1px solid #ba685a;
}

.text-score {
  color: #ba685a;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}/*# sourceMappingURL=main.css.map */