.welcome-page {
  transition: transform 0.5s ease-in-out;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  width: 70vw;
  height: 60vh;
  border-radius: 14px;
  z-index: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-game-section {
  @extend .welcome-page;
  height: 78vh;
  top: 10%;
  transform: translate(-50%, 0%);
}

.welcome-page h1 {
  color: white;
  font-family: $font-kalam;
  text-align: center;
  font-size: 3rem;
  padding-top: 18px;
  margin: 0px;
}

.welcome-page p {
  color: white;
  font-family: $font-open-sans;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 18px;
  letter-spacing: 2px;
  margin: 0px;
}

.p-gift {
  text-decoration: underline;
}

.p-gift:hover {
  cursor: pointer;
}

.bg {
  position: absolute;;
  width: 98%;
  height: 95%;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  background-color: $brown;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $gray;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 4s infinite ease;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.5);
}

.btn-start {
  position: absolute;
  background-color: inherit;
  border: none;
  border-radius: 50px;
  color: white;
  bottom: 10%;
  left: 45%;
  z-index: 30;
}

.border-button {
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: 7%;
  left: 44%;
  transform: translateX(-50%) rotate(0deg);
  z-index: 20;
  border: 5px dotted $gray;
  border-radius: 50%;
  animation: girar 4s infinite linear;
}

.btn-start:hover {
  cursor: pointer;
}

.btn-start img {
  width: 90px;
  color: white;
}

.paw1 {
  @include paw_position(-5px, 5%, auto, rotate(12deg));
}

.paw2 {
  @include paw_position(-8px, 12%, auto, rotate(-15deg));
}

.paw3 {
  @include paw_position(-8px, 20%, auto, rotate(15deg));
}

.paw4 {
  @include paw_position(-5px, auto, 20%, rotate(-12deg));
}

.paw5 {
  @include paw_position(-6px, auto, 12%, rotate(12deg));
}

.paw6 {
  @include paw_position(-8px, auto, 5%, rotate(-15deg));
}

.general-bg {
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: $very-light-orange;
  background-image: radial-gradient(circle at center, $brown 1px, transparent 2px);
  background-size: 16px 16px;
}

