.general-container {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.relative {
  position: relative;
}

.img_cat {
  width: 300px;
  height: 300px;
  margin: 20px;

  object-fit: cover;
  border-radius: 5px;
  border: 0.5px solid black;
}

.btn_heart {
  position: absolute;
  top: 25px;
  left: 25px;

  border: none;
  background-color: inherit;
}

.btn_heart:hover {
  cursor: pointer;
}

.invisible {
  display: none;
}

.container-text {
  position: absolute;
  z-index: 100;
  right: 50%;
  top: 8px;
  transform: translateX(50%);

  padding: 4px 12px;
  background-color: $very-light-orange;
  border-radius: 12px;
  border: 1px solid $brown;
}

.text-score {
  color: $brown;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}