.general-container {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.relative {
  position: relative;
}

.go-up {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.go-down {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.none {
  display: none;
}

.disappear {
  -webkit-animation: disappear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: disappear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
