.general-container {
  width: 100%;
}

#container-random-images {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.img_cat {
  position: relative;

  width: 300px;
  height: 300px;
  margin: 20px;

  object-fit: cover;
  border-radius: 5px;
  border: 0.5px solid black;
}

.btn_dislike {
  position: relative;
  top: 5px;
  left: 5px;

  border: none;
  background-color: inherit;
}

.invisible {
  display: none;
}