$background: #222222;
$phone: #d3cccc;
$walls: #65647C;
$paw1: #F1D3B3;
$paw2: #8B7E74;
$paw3: #C69B7B;
$paw4: #8D7B68;
$paw5: #C8B6A6;
$borde: rgb(204, 201, 201);

* {
  box-sizing: border-box;
  margin: 0;
}

.phone {
  position: relative;
  background: $phone;
  overflow: hidden;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  width: 300px;
  height: 550px;
  border: 7px solid #a57777;

  box-shadow: 0px 0px 15px 3px #4D4545;
  border-radius: 30px;
}

.layer {
  position: absolute;
}

.paw {
  cursor: pointer;
}

@mixin posicion($z, $w, $h, $top, $botton, $left, $rigth, $back) {
  z-index: $z;
  width: $w;
  height: $h;
  top: $top;
  bottom: $botton;
  left: $left;
  right: $rigth;

  background: $back;
}

@mixin dedito($w, $h, $back, $bor, $top, $left){
  position: absolute;
  width: $w;
  height: $h;
  border-radius: 50%;
  background-color: $back;
  border: 0.1px solid rgb(204, 201, 201);
  top: $top;
  left: $left;
}

// Animacion para subir y bajar
@keyframes subir {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-70px);
  }
  20% {
    transform: translateY(0px);
  }
}

@keyframes subir_izquierdo {
  0% {
    right: 80px;
  }
  10% {
    transform: rotate(-60deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  30% {
    right: 40px;
  }
}

@keyframes subir_derecho {
  0% {
    transform: rotate(0);
  }
  10% {
    left: -50px;
    transform: rotate(60deg);
  }
  20% {
    left: -40px;
    transform: rotate(80deg);
  }
}

@keyframes subir_izquieda_abajo {
  0% {
    transform: translateY(0px) rotate(15deg);
  }
  10% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(0px) rotate(15deg);
  }
}

@keyframes subir_derecha_abajo {
  0% {
    transform: rotate(-48deg);
  }
  10% {
    transform: translateX(-60px) rotate(-50deg);
  }
  20% {
    transform: rotate(-70deg);
  }
  90% {
    transform: translateX(90px) rotate(-48deg);
  }
}

// Patita arriba derecha
.layer:nth-child(1){
  @include posicion(1, 90px, 90px, 100px, auto, auto, 15px, inner);

  .dedito1 {
    @include dedito(25px, 25px, $paw2, rgb(136, 135, 135), 18px, 12px);
  }

  .dedito2 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 22px);
  }

  .dedito3 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 32px);
  }

  .dedito4 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 46px);
  }

  .mano {
    position: absolute;
    width: 36px;
    height: 40px;
    border-radius: 40%;
    background-color: $paw2;
    top: 20px;
    left: 22px;
  }

  .tronco {
    position: absolute;
    width: 40px;
    height: 60px;
    border-radius: 40%;
    background-color: $paw2;
    top: 30px;
    left: 22px;
  }

  animation: subir 3s infinite;
  animation-delay: 1s;
}

// Patita arriba izquierda
.layer:nth-child(2){
  @include posicion(2, 90px, 90px, 145px, auto, 16px, auto, inner);

  .dedito1 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 12px);
  }

  .dedito2 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 22px);
  }

  .dedito3 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 32px);
  }

  .dedito4 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 46px);
  }

  .mano {
    position: absolute;
    width: 36px;
    height: 40px;
    border-radius: 40%;
    background-color: $paw2;
    top: 20px;
    left: 22px;
  }

  .tronco {
    position: absolute;
    width: 40px;
    height: 60px;
    border-radius: 40%;
    background-color: $paw2;
    top: 30px;
    left: 22px;
  }

  animation: subir 2s infinite;
  animation-delay: 3s;
}

// Patita mitad derecha
.layer:nth-child(3){
  @include posicion(3, 90px, 85px, 80px, auto, auto, 40px, inner);
  transform: rotate(-90deg);

  .dedito1 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 12px);
  }

  .dedito2 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 22px);
  }

  .dedito3 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 32px);
  }

  .dedito4 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 46px);
  }

  .mano {
    position: absolute;
    width: 36px;
    height: 40px;
    border-radius: 40%;
    background-color: $paw2;
    top: 20px;
    left: 22px;
  }

  .tronco {
    position: absolute;
    width: 40px;
    height: 60px;
    border-radius: 40%;
    background-color: $paw2;
    top: 30px;
    left: 22px;
  }

  transform-origin: bottom right;
  animation: subir_izquierdo 2s infinite;
  animation-delay: 2s;
}

// Pared
.layer:nth-child(4){
  @include posicion(4, 120px, 200px, 100px, auto, auto, 0, $walls);
  border: 1px solid white;
  border-radius: 20px;
}

// Pared
.layer:nth-child(5){
  @include posicion(5, 120px, 210px, 150px, auto, 0, auto, $walls);
  border: 1px solid white;
  border-radius: 20px;
}

// Patita izquierda borde
.layer:nth-child(6){
  @include posicion(6, 90px, 120px, 160px, auto, -120px, auto, inner);
  transform: rotate(50deg);

  .dedito1 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 12px);
  }

  .dedito2 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 22px);
  }

  .dedito3 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 32px);
  }

  .dedito4 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 46px);
  }

  .mano {
    position: absolute;
    width: 36px;
    height: 40px;
    border-radius: 40%;
    background-color: $paw2;
    top: 20px;
    left: 22px;
    z-index: 3;
  }

  .tronco {
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 90px;
    border-radius: 40%;
    background-color: $paw2;
    top: 30px;
    left: 22px;
    border: 1px solid $borde;
  }

  transform-origin: bottom left;
  animation: subir_derecho 2s infinite;
  animation-delay: 3s;
}

// Patita
.layer:nth-child(7){
  @include posicion(7, 90px, 90px, 245px, auto, auto, 15px, inner);
  animation: subir 2s infinite;
  animation-delay: 4s;

  .dedito1 {
    @include dedito(25px, 25px, $paw2, $paw3, 20px, 10px);
  }

  .dedito2 {
    @include dedito(25px, 25px, $paw2, $paw3, 10px, 18px);
  }

  .dedito3 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 32px);
  }

  .dedito4 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 46px);
  }

  .mano {
    position: absolute;
    width: 36px;
    height: 40px;
    border-radius: 40%;
    background-color: $paw2;
    top: 20px;
    left: 22px;
    z-index: -1;
    border: 0.1px solid $borde;
  }

  .tronco {
    position: absolute;
    width: 40px;
    height: 60px;
    border-radius: 40%;
    background-color: $paw2;
    top: 30px;
    left: 22px;
  }
}

// Pared
.layer:nth-child(8){
  @include posicion(8, 170px, 210px, 250px, auto, auto, 0, $walls);
  border: 1px solid white;
  border-radius: 20px;
}

// Pared
.layer:nth-child(9){
  @include posicion(9, 190px, 210px, auto, 0, 0, auto, $walls);
  border: 1px solid white;
  border-radius: 20px;
}

// Patita
.layer:nth-child(10){
  @include posicion(10, 800px, 120px, auto, -115px, 50px, auto, inner);
  transform: rotate(15deg);

  .dedito1 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 12px);
  }

  .dedito2 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 22px);
  }

  .dedito3 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 32px);
  }

  .dedito4 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 46px);
  }

  .mano {
    z-index: 3;
    position: absolute;
    width: 36px;
    height: 40px;
    border-radius: 40%;
    background-color: $paw2;
    top: 20px;
    left: 22px;
  }

  .tronco {
    z-index: 2;
    border: 0.1px solid $borde;
    position: absolute;
    width: 40px;
    height: 100px;
    border-radius: 40%;
    background-color: $paw2;
    top: 30px;
    left: 22px;
  }

  animation: subir_izquieda_abajo 1s infinite;
  animation-delay: 1s;
}

// Patita
.layer:nth-child(11){
  @include posicion(8, 90px, 130px, auto, 60px, auto, -107px, inner);
  transform: rotate(-48deg);

  .dedito1 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 12px);
  }

  .dedito2 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 22px);
  }

  .dedito3 {
    @include dedito(25px, 25px, $paw2, $paw3, 8px, 32px);
  }

  .dedito4 {
    @include dedito(25px, 25px, $paw2, $paw3, 18px, 46px);
  }

  .mano {
    z-index: 3;
    position: absolute;
    width: 36px;
    height: 40px;
    border-radius: 40%;
    background-color: $paw2;
    top: 20px;
    left: 22px;
  }

  .tronco {
    z-index: 2;
    border: 0.1px solid $borde;
    position: absolute;
    width: 40px;
    height: 100px;
    border-radius: 40%;
    background-color: $paw2;
    top: 30px;
    left: 22px;
  }

  animation: subir_derecha_abajo 2s infinite;
  animation-delay: 3s;
}

@import "utils.scss";
