$background: #222222;
$phone: #d3cccc;
$orange: #f4914e;
$light-brown: #8B7E74;
$light-orange: #C69B7B;
$very-light-orange: #F1D3B3;
$brown: #ba685a;
$very-light-brown: #C8B6A6;
$light-purple: #8a7586;
$gray: rgb(204, 201, 201);

* {
  box-sizing: border-box;
  margin: 0;
}

// Mixins
@mixin posicion($z, $w, $h, $top, $botton, $left, $rigth, $back) {
  z-index: $z;
  width: $w;
  height: $h;
  top: $top;
  bottom: $botton;
  left: $left;
  right: $rigth;

  background: $back;
}

@mixin paw_position($botton, $left, $rigth, $rotate) {
  position: absolute;
  bottom: $botton;
  right: $rigth;
  left: $left;
  transform: $rotate;
  z-index: 100;
}

// Animations
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blob-bounce {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(60vw, 0);
  }

  50% {
    transform: translate(70vw, 40vh);
  }

  75% {
    transform: translate(-10vw, 40vh);
  }

  90% {
    transform: translate(0, -10vh);
  }
}

@keyframes subir {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-70px);
  }
  90% {
    transform: translateY(0px);
  }
}

@keyframes subir_izquierdo {
  0% {
    right: 80px;
  }
  10% {
    transform: rotate(-60deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  30% {
    right: 40px;
  }
}

@keyframes subir_derecho {
  0% {
    transform: rotate(0);
  }
  10% {
    left: -50px;
    transform: rotate(60deg);
  }
  20% {
    left: -40px;
    transform: rotate(80deg);
  }
}

@keyframes subir_izquieda_abajo {
  0% {
    transform: translateY(0px) rotate(15deg);
  }
  10% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(0px) rotate(15deg);
  }
}

@keyframes subir_derecha_abajo {
  0% {
    transform: rotate(-48deg);
  }
  10% {
    transform: translateX(-60px) rotate(-50deg);
  }
  20% {
    transform: rotate(-70deg);
  }
  90% {
    transform: translateX(90px) rotate(-48deg);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, -500px);
            transform: translate(0px, -500px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translate(-500px, 0px);
            transform: translate(-500px, 0px);
  }
  100% {
    -webkit-transform: translate(-500px, -500px);
            transform: translate(-500px, -500px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translate(-130px, -500px);
            transform: translate(-130px, -500px);
  }
  100% {
    -webkit-transform: translate(-130px, 0px);
            transform: translate(-130px, 0px);
  }
}

@import "welcome_page.scss";
@import "game.scss";
@import "requests_section.scss";
@import "utils.scss";
